<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119919994718-rb3b4vqp6544tkc3i1u777v9uk1gt7ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119919994718-rb3b4vqp6544tkc3i1u777v9uk1gt7ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDlbpU57W91zTL6JgiwYDymUykExHYcL_w</string>
	<key>GCM_SENDER_ID</key>
	<string>119919994718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spacemiraclestudios.spacem</string>
	<key>PROJECT_ID</key>
	<string>spacem-a198f</string>
	<key>STORAGE_BUCKET</key>
	<string>spacem-a198f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119919994718:ios:e7ee15ab62125cc52511cf</string>
</dict>
</plist>