<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206403307836-lttp7h3qujhj3j6gikgvnv6iq21hu1dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206403307836-lttp7h3qujhj3j6gikgvnv6iq21hu1dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206403307836-8uj38u784op03vrjf0h7oehvfje9loaq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX9jp83_wwa2hTFKB8XHWOwmIC4cymNhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>206403307836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spacem</string>
	<key>PROJECT_ID</key>
	<string>spacem-b03ab</string>
	<key>STORAGE_BUCKET</key>
	<string>spacem-b03ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206403307836:ios:5fda61ab6488739b4ff639</string>
</dict>
</plist>